[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piexif = ">=1.1.3"
py7zr = ">=0.20.4"
pypdf2 = ">=3.0.1"
pyside6 = ">=6.4.2"
requests = ">=2.28.1"
retrying = ">=1.3.4"
pyinstaller = ">=5.8.0"
pillow = ">=9.4.0"

[dev-packages]
rich = "*"
pylint = "*"

[requires]
python_version = "3.11"
