[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piexif = "*"
py7zr = "*"
pypdf2 = "*"
pyside6 = "*"
requests = "*"
retrying = "*"
pillow = "*"
pypinyin = "*"
qt-material = "*"

[dev-packages]
rich = "*"
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3.11"
